body {
  background: linear-gradient(to left, #FFFFFF,skyblue);
  width: auto;
  height: 100%;
}

h1 {
    color: rgb(28, 23, 34);
    text-align: center;
    line-height: 1em;
    font: 80px Comic Sans MS;
    font-weight: bold;
}

h2 {
    text-align: center;
    font: 40px Comic Sans MS;
}

#emoji img{
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

#emoji img:hover{
    height: 15em;
 }

#emoji {
    display: block;
    width: 100%;
    text-align: center;
}
#cocktail{
    padding: 100px 50px 100px 50px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#cocktail img {
    display: inline-flex;
    overflow: scroll;
    height: 250px;
    margin-right: 3rem;
    width: fit-content;
    cursor: pointer;
}

#cocktail img:last-child {
    margin-right: 0;
}

#description {
    padding: 150px 50px 100px 50px;
    text-align: center;
    display: center;
    font: 35px Arial, sans-serif;
    font-weight: bold;
}

#description img {
    display: center;
    height: 275px;
}

.hidden {
    visibility: hidden;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
    position: relative;
    text-align:center;
}

.align {
    height: 400px;
    width: 300px;
    margin: 15px;
}

img {
  height: 300px;
}

#dragndrop {
  padding: 100px 20px 100px 20px;
}

#dragndrop img {
  display: center;
  height: 250px;
}

#feed-emoji {
  display: center;
  text-align: center;
  padding: 100px 20px 100px 20px; 
}


#feed-emoji img {
  display: center;
  height: 250px;
}

#drink {
  cursor: grab;
}
